version: 2

updates:
  - package-ecosystem: github-actions
    cooldown:
      default-days: 7
    directory: /
    schedule:
      interval: weekly
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: gomod
    cooldown:
      default-days: 7
    directory: /
    schedule:
      interval: weekly
    groups:
      go-modules:
        patterns:
          - "*"
